.so /usr/lib/tmac/tmac.slide
.ST "ISO Technical Marketing" "PA 5/2/83" "Foil Instructions"
.(S
USING THE XENIX FOIL MAKER

Making Computerized Foils
.(
\(bu Foil Facts
.[
- You can use about 50 characters per line
- You can have about thirteen lines per foil
- You can choose different character sizes
- You can use BOLD, ROMAN, or ITALICS.
- You can use the vtroff box and table feature
- The amount depends on the combination used.
.]
.)
.)S
.bp
.so /usr/lib/tmac/tmac.an
.TH "SLIDE" 1 LOCAL
.ps 12
.SH NAME
slide \- slide formatting and typesetting
.SH SYNTAX
.B slide [ 
option
.B ] ... [
file
.B ] ...
.SH DESCRIPTION
.PP
Slide formats text in the named files into an Intel compatible foil format
for output on the OMSVAX laser printer.
.PP
The foils generated are 5.75 inches wide by 4.75 inches high.  This area will
allow about 50 characters per line on about 13 lines of text (the exact amount
will depend on the print size selected).
.PP
Three parameters are specified by the user for each foil set and will remain
constant throughout the foil generation process.  These parameters are AUTHOR,
DEPARTMENT, and SUBJECT.  The first line of the input file must specify these
items in the form:
.sp 1
	.ST "DEPARTMENT" "AUTHOR DATE" "SUBJECT"
.PP
Each foil is specified by grouping all lines associated with it between a
beginning bracket [.(S] and an ending bracket [.)S].  An example for a
generalized foil is:
.nf
.BD

	.(S
	 .
	 . foil text
	 .
	.)S

.fi
.PP
Several commands are recognized by the processor and can be interspersed
with the text.  These are:
.nf

	.(	Begin new indent level using 14 point
	.)	End previous indent level, use 18 point
	.LG	Use 18 point
	.ME	Use 14 point
	.SM	Use 12 point
	.[	Begin new indent level using same point size
	.]	End previous indent level, use same point size
.fi
.PP
Several special characters are available for highlighting the foils.  These
characters are obtained by inserting the following character sequences in
the text:
.nf

	\(bu	The bullet is generated by use of the sequence [\\(bu]
	\(sq	The square is generated by use of the sequence [\\(sq]
	\(rh	The finger is generated by use of the sequence [\\(rh]
	\(co	The copyright symbol is generated by use of the sequence [\\(co]
	\(rg	The trademark symbol is generated by use of the sequence [\\(rg]
.SH FILES
.ta 2i
/usr/lib/tmac/tmac.slide	Slide Macro Definitions
.br
/usr/local/slide	Slide Command
.br
/usr/local/itroff	Troff Equivalent
.SH SEE\ ALSO
itroff(1)
.SH DIAGNOSTICS
A message will be delivered indicating that the foils have been transferred
to the VAX printer.
.SH BUGS
Each user must have permission to use the unix to unix transfer facility.
See your system administrator if you do not have permission.  Error messages
will not be printed for some errors.
