\item $<${}NL$>${},\hspace{.6em} 1, 13
\item add-global-mode,\hspace{.6em} 21
\item add-mode,\hspace{.6em} 3, 21
\item backward-character,\hspace{.6em} 3
\item begin-macro,\hspace{.6em} 31
\item beginning-of-file,\hspace{.6em} 3, 6
\item beginning-of-line,\hspace{.6em} 3
\item buffer,\hspace{.6em} 4, 5, 19
\item case-region-lower,\hspace{.6em} 28
\item case-word-capitalize,\hspace{.6em} 28
\item case-word-lower,\hspace{.6em} 28
\item case-word-upper,\hspace{.6em} 28
\item change-screen-size,\hspace{.6em} 51
\item change-screen-width,\hspace{.6em} 51
\item color,\hspace{.6em} 21
\item control key,\hspace{.6em} 1
\item control-x,\hspace{.6em} 1
\item copy-region,\hspace{.6em} 10
\item cursor keys,\hspace{.6em} 4
\item default string,\hspace{.6em} 14
\item delete-blank-lines,\hspace{.6em} 7
\item delete-buffer,\hspace{.6em} 20
\item delete-global-mode,\hspace{.6em} 21
\item delete-mode,\hspace{.6em} 21
\item delete-next-character,\hspace{.6em} 6
\item delete-next-word,\hspace{.6em} 6
\item delete-previous-character,\hspace{.6em} 6
\item delete-previous-word,\hspace{.6em} 6
\item detab-line,\hspace{.6em} 29
\item encryption,\hspace{.6em} 22
\item end-macro,\hspace{.6em} 31
\item end-of-file,\hspace{.6em} 3
\item end-of-line,\hspace{.6em} 3
\item entab-lines,\hspace{.6em} 29
\item execute-buffer,\hspace{.6em} 33
\item execute-file,\hspace{.6em} 33
\item execute-macro-$<${}n$>${},\hspace{.6em} 33
\item execute-macro,\hspace{.6em} 31
\item exit-emacs,\hspace{.6em} 7
\item file locking,\hspace{.6em} 51
\item fill column,\hspace{.6em} 23
\item fill-paragraph,\hspace{.6em} 6, 27
\item find-file,\hspace{.6em} 17, 19
\item forward-character,\hspace{.6em} 3
\item handle-tab,\hspace{.6em} 29
\item kill buffer,\hspace{.6em} 10
\item kill-region,\hspace{.6em} 9
\item kill-to-end-of-line,\hspace{.6em} 7
\item list-buffers,\hspace{.6em} 19, 21
\item mark,\hspace{.6em} 9
\item meta key,\hspace{.6em} 1
\item mode line,\hspace{.6em} 2, 5
\item modes,\hspace{.6em} 3, 21
\item move-window-down,\hspace{.6em} 18
\item move-window-up,\hspace{.6em} 18
\item next-buffer,\hspace{.6em} 19
\item next-line,\hspace{.6em} 3
\item next-paragraph,\hspace{.6em} 3
\item open-line,\hspace{.6em} 6
\item point,\hspace{.6em} 9
\item previous-line,\hspace{.6em} 3
\item previous-paragraph,\hspace{.6em} 3
\item previous-window,\hspace{.6em} 17
\item previous-word,\hspace{.6em} 3
\item query-replace-string,\hspace{.6em} 15
\item replace-string,\hspace{.6em} 14
\item save-file,\hspace{.6em} 4
\item screen,\hspace{.6em} 5
\item scroll-next-down,\hspace{.6em} 18
\item scroll-next-up,\hspace{.6em} 18
\item search-forward,\hspace{.6em} 13
\item search-reverse,\hspace{.6em} 14
\item select-buffer,\hspace{.6em} 19
\item set-encryption-key,\hspace{.6em} 22
\item set-fill-column,\hspace{.6em} 27
\item set-mark,\hspace{.6em} 9
\item special keys,\hspace{.6em} 1
\item split-current-window,\hspace{.6em} 17
\item suspend-emacs,\hspace{.6em} 51
\item tab handling,\hspace{.6em} 29
\item termcap,\hspace{.6em} 51
\item text window,\hspace{.6em} 2
\item window,\hspace{.6em} 2, 5, 17
\item wrap-word,\hspace{.6em} 24
\item wrapping text,\hspace{.6em} 27
\item write-file,\hspace{.6em} 4
\item yank,\hspace{.6em} 10
